# Hate Crime Data Extraction and Transformation

1. Create dataframe from FBI hate crimes spreadsheet and explore
2. Create dataframes for needed database tables and export to csv files

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
from pathlib import Path

## Create/Explore FBI Hate Crime Dataframe

In [2]:
# Path to hate crime data
path = Path('../resources/hate_crimes_from_FBI.xlsx')

# Load hate crime data
crime_data_df = pd.read_excel(path, engine='openpyxl', index_col=0)

# Display sample data
crime_data_df.head()

,data_year,ori,pug_agency_name,pub_agency_unit,agency_type_name,state_abbr,state_name,division_name,region_name,population_group_code,...,offender_race,offender_ethnicity,victim_count,offense_name,total_individual_victims,location_name,bias_desc,victim_types,multiple_offense,multiple_bias
incident_id,,,,,,,,,,,,,,,,,,,,,
43,1991,AR0350100,Pine Bluff,NaN,City,AR,Arkansas,West South Central,South,3,...,Black or African American,Not Specified,1,Aggravated Assault,1.0,Residence/Home,Anti-Black or African American,Individual,S,S
44,1991,AR0350100,Pine Bluff,NaN,City,AR,Arkansas,West South Central,South,3,...,Black or African American,Not Specified,2,Aggravated Assault;Destruction/Damage/Vandalis...,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual,M,S
45,1991,AR0600300,North Little Rock,NaN,City,AR,Arkansas,West South Central,South,3,...,Black or African American,Not Specified,2,Aggravated Assault;Murder and Nonnegligent Man...,2.0,Residence/Home,Anti-White,Individual,M,S
46,1991,AR0600300,North Little Rock,NaN,City,AR,Arkansas,West South Central,South,3,...,Black or African American,Not Specified,1,Intimidation,1.0,Residence/Home,Anti-White,Individual,S,S
47,1991,AR0670000,Sevier,NaN,County,AR,Arkansas,West South Central,South,8D,...,White,Not Specified,1,Intimidation,1.0,School/College,Anti-Black or African American,Individual,S,S

In [3]:
#
crime_data_df = crime_data_df[crime_data_df['data_year'] > 2008]

# Display sample data
crime_data_df.head()

,data_year,ori,pug_agency_name,pub_agency_unit,agency_type_name,state_abbr,state_name,division_name,region_name,population_group_code,...,offender_race,offender_ethnicity,victim_count,offense_name,total_individual_victims,location_name,bias_desc,victim_types,multiple_offense,multiple_bias
incident_id,,,,,,,,,,,,,,,,,,,,,
141003,2009,AK0010100,Anchorage,NaN,City,AK,Alaska,Pacific,West,1C,...,White,Not Specified,1,Simple Assault,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-American Indian or Alaska Native,Individual,S,S
141004,2009,AK0010100,Anchorage,NaN,City,AK,Alaska,Pacific,West,1C,...,Unknown,Not Specified,1,Intimidation,1.0,Residence/Home,"Anti-Lesbian, Gay, Bisexual, or Transgender (M...",Individual,S,S
141005,2009,AK0010100,Anchorage,NaN,City,AK,Alaska,Pacific,West,1C,...,White,Not Specified,1,Robbery,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-American Indian or Alaska Native,Individual,S,S
141006,2009,AK0010100,Anchorage,NaN,City,AK,Alaska,Pacific,West,1C,...,Multiple,Not Specified,4,Aggravated Assault,4.0,Highway/Road/Alley/Street/Sidewalk,Anti-American Indian or Alaska Native,Individual,S,S
141007,2009,AK0010100,Anchorage,NaN,City,AK,Alaska,Pacific,West,1C,...,Asian,Not Specified,1,Robbery,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-American Indian or Alaska Native,Individual,S,S

In [4]:
crime_data_df.dtypes

data_year                                int64
ori                                     object
pug_agency_name                         object
pub_agency_unit                         object
agency_type_name                        object
state_abbr                              object
state_name                              object
division_name                           object
region_name                             object
population_group_code                   object
population_group_description            object
incident_date                   datetime64[ns]
adult_victim_count                     float64
juvenile_victim_count                  float64
total_offender_count                     int64
adult_offender_count                   float64
juvenile_offender_count                float64
offender_race                           object
offender_ethnicity                      object
victim_count                             int64
offense_name                            object
total_individual_victims               float64
location_name                           object
bias_desc                               object
victim_types                            object
multiple_offense                        object
multiple_bias                           object
dtype: object

## Create CSV Files for Database Tables

### Table: agency_types

In [5]:
# Create dataframe for agency_types and rename index
agency_types_df = pd.DataFrame(crime_data_df['agency_type_name'].unique(), columns=['agency_type'])
agency_types_df.index.name = 'agency_type_id'

# Code Reference: https://stackoverflow.com/questions/21295334/find-length-of-longest-string-in-pandas-dataframe-column
print(f"Max column size - agency_type: {agency_types_df['agency_type'].map(lambda x: len(x)).max()}")

# Display dataframe
agency_types_df

Max column size - agency_type: 21

                          agency_type
agency_type_id
0                                City
1                              County
2               University or College
3                               Other
4                  Other State Agency
5                        State Police
6                              Tribal
7                             Federal

In [12]:
# Export agency_types dataframe to csv 
agency_types_df.to_csv('data/agency_types.csv')

# Confirm that export completed
print('Dataframe exported to csv')

Dataframe exported to csv

### Table: agencies

In [21]:
# Create agencies csv
agencies_df = pd.DataFrame(crime_data_df['pug_agency_name'].unique(), columns=['agency'])
agencies_df.index.name = 'agency_id'

# Code Reference: https://stackoverflow.com/questions/21295334/find-length-of-longest-string-in-pandas-dataframe-column
print(f"Max column size - agency: {agencies_df['agency'].map(lambda x: len(x)).max()}")

# Display dataframe
agencies_df

Max column size - agency: 67

                 agency
agency_id
0             Anchorage
1                Bethel
2                Hoover
3                Mobile
4              Leesburg
...                 ...
5308         Fall Creek
5309             Monona
5310         Two Rivers
5311         Ronceverte
5312       Rock Springs

[5313 rows x 1 columns]

In [22]:
# Export agencyies dataframe to csv 
agencies_df.to_csv('data/agencies.csv')

# Confirm that export completed
print('Dataframe exported to csv')

Dataframe exported to csv

### Table: agency_oris

In [47]:
# Create agency_oris csv
# Code Reference for as_index:
# https://stackoverflow.com/questions/21767900/how-to-move-pandas-data-from-index-to-column-after-multiple-groupby
agency_oris_df = crime_data_df.loc[:, ['ori', 'pug_agency_name', 'pub_agency_unit', 'agency_type_name']].groupby('ori', as_index=False, dropna=False).first()
agency_oris_df.rename(columns={'pug_agency_name': 'agency', 'pub_agency_unit': 'agency_unit', 'agency_type_name': 'agency_type'}, inplace=True)


# Code Reference: https://stackoverflow.com/questions/21295334/find-length-of-longest-string-in-pandas-dataframe-column
print(f"Max column size - ori: {agency_oris_df['ori'].map(lambda x: len(x)).max()}")
# print(f"Max column size - agency_unit: {agency_oris_df['agency_unit'].map(lambda x: len(x)).max()}")

# Display dataframe
agency_oris_df

Max column size - ori: 9

            ori        agency agency_unit agency_type
0     AK0010100     Anchorage        None        City
1     AK0010200     Fairbanks        None        City
2     AK0010300        Juneau        None        City
3     AK0010600          Nome        None        City
4     AK0010700    Petersburg        None        City
...         ...           ...         ...         ...
7664  WY0190100   Green River        None        City
7665  WY0190200  Rock Springs        None        City
7666  WY0200100       Jackson        None        City
7667  WY0210100      Evanston        None        City
7668  WY0230100     Newcastle        None        City

[7669 rows x 4 columns]

In [48]:
# Import csv to easily merge with dataframe
agencies = pd.read_csv('data/agencies.csv')
agency_types = pd.read_csv('data/agency_types.csv')

# Merge dataframes to get id fields and remove unneeded columns
agency_oris_df = pd.merge(agency_oris_df, agencies, how='right', on='agency')
agency_oris_df = pd.merge(agency_oris_df, agency_types, how='right', on='agency_type')
agency_oris_df.drop(columns=['agency','agency_type'], inplace=True)

# Display dataframe
agency_oris_df

            ori                       agency_unit  agency_id  agency_type_id
0     AK0010100                              None          0               0
1     KY0560500                              None          0               0
2     AK0011300                              None          1               0
3     CT0000900                              None          1               0
4     AL0011200                              None          2               0
...         ...                               ...        ...             ...
7664  DCUSA0100                              None       4494               7
7665  VA0SI0200  Office of Special Investigations       4495               7
7666  DCDOD1000                              None       5054               7
7667  DCTIX0000                              None       5055               7
7668  DCAF00200                              None       5056               7

[7669 rows x 4 columns]

In [49]:
# Reorder columns
agency_oris_df = agency_oris_df[['ori', 'agency_id', 'agency_unit', 'agency_type_id']]

# Display dataframe
agency_oris_df

            ori  agency_id                       agency_unit  agency_type_id
0     AK0010100          0                              None               0
1     KY0560500          0                              None               0
2     AK0011300          1                              None               0
3     CT0000900          1                              None               0
4     AL0011200          2                              None               0
...         ...        ...                               ...             ...
7664  DCUSA0100       4494                              None               7
7665  VA0SI0200       4495  Office of Special Investigations               7
7666  DCDOD1000       5054                              None               7
7667  DCTIX0000       5055                              None               7
7668  DCAF00200       5056                              None               7

[7669 rows x 4 columns]

In [50]:
# Export agencyies dataframe to csv 
agency_oris_df.to_csv('data/agency_oris.csv')

# Confirm that export completed
print('Dataframe exported to csv')

Dataframe exported to csv

### Table: states

In [70]:
# # Create dataframe for states
states_df = crime_data_df.loc[:, ['state_abbr', 'state_name', 'division_name', 'region_name']].groupby('state_abbr').first()
states_renamed_df = states_df.rename(columns={'state_name': 'state', 'division_name': 'division', 'region_name': 'region'})

# Print maximum size of each column for database schema
print(f"Max column size - state_name: {states_df['state_name'].map(lambda x: len(x)).max()}")
print(f"Max column size - division_name: {states_df['division_name'].map(lambda x: len(x)).max()}")
print(f"Max column size - region_name: {states_df['region_name'].map(lambda x: len(x)).max()}")

# Display sample data
states_renamed_df.head()

Max column size - state_name: 20
Max column size - division_name: 18
Max column size - region_name: 16

                 state            division region
state_abbr
AK              Alaska             Pacific   West
AL             Alabama  East South Central  South
AR            Arkansas  West South Central  South
AZ             Arizona            Mountain   West
CA          California             Pacific   West

In [71]:
# Export states dataframe to csv 
states_renamed_df.to_csv('data/states.csv')

# Confirm that export completed
print('Dataframe exported to csv')

Dataframe exported to csv

### Table: population_groups

In [60]:
# Create dataframe for population groups and rename index
pop_groups_df = crime_data_df.loc[:, ['population_group_code', 'population_group_description']].groupby('population_group_code').first()
pop_groups_final_df = pop_groups_df.rename(columns={'population_group_description': 'population_group'})

# Code Reference: https://stackoverflow.com/questions/21295334/find-length-of-longest-string-in-pandas-dataframe-column
print(f"Max column size - population_group: {pop_groups_final_df['population_group'].map(lambda x: len(x)).max()}")

pop_groups_final_df

Max column size - population_group: 67

                                                        population_group
population_group_code
0                      Possessions (Puerto Rico, Guam, Virgin Islands...
2                                       Cities from 100,000 thru 249,999
3                                         Cities from 50,000 thru 99,999
4                                         Cities from 25,000 thru 49,999
5                                         Cities from 10,000 thru 24,999
6                                           Cities from 2,500 thru 9,999
7                                                     Cities under 2,500
1A                                              Cities 1,000,000 or over
1B                                      Cities from 500,000 thru 999,999
1C                                      Cities from 250,000 thru 499,999
8A                                      Non-MSA counties 100,000 or over
8B                              Non-MSA counties from 25,000 thru 99,999
8C                              Non-MSA counties from 10,000 thru 24,999
8D                                         Non-MSA counties under 10,000
8E                                                  Non-MSA State Police
9A                                          MSA counties 100,000 or over
9B                                  MSA counties from 25,000 thru 99,999
9C                                  MSA counties from 10,000 thru 24,999
9D                                             MSA counties under 10,000
9E                                                      MSA State Police

In [20]:
# Export dataframe to csv 
pop_groups_df.to_csv('data/population_groups.csv')

# Confirm that export completed
print('Dataframe exported to csv')

Dataframe exported to csv

### Table: race

In [62]:
# Create dataframe for race and rename index
race_df = pd.DataFrame(crime_data_df['offender_race'].unique(), columns=['race'])
race_df.index.name = 'race_id'
race_df

# Code Reference: https://stackoverflow.com/questions/21295334/find-length-of-longest-string-in-pandas-dataframe-column
print(f"Max column size - race_id: {race_df['race'].map(lambda x: len(x)).max()}")

race_df

Max column size - agency_type: 41

                                              race
race_id
0                                            White
1                                          Unknown
2                                         Multiple
3                                            Asian
4                 American Indian or Alaska Native
5                        Black or African American
6        Native Hawaiian or Other Pacific Islander
7                                    Not Specified

In [63]:
# Organize and clean up dataframe 
# Order rows to match US census ordering
race_df = race_df.rename(index={5:1, 4: 2, 6: 4, 2: 5, 1: 6}).sort_index()
race_df.loc[6] = 'Unknown or Not Specified'
race_df = race_df.drop([7])
race_df

                                              race
race_id
0                                            White
1                        Black or African American
2                 American Indian or Alaska Native
3                                            Asian
4        Native Hawaiian or Other Pacific Islander
5                                         Multiple
6                         Unknown or Not Specified

In [64]:
# Export dataframe to csv 
race_df.to_csv('data/race.csv')

# Confirm that export completed
print('Dataframe exported to csv')

Dataframe exported to csv