In [1]:
# Dependencies
import requests
import pandas as pd
from census import Census

from config import api_key

In [2]:
# Define function to retrieve US census data for a specific year and return a dataframe
def get_census_data(year):
    census_library = Census(api_key, year=year)
    # state_code = states.CA.fips
    variables = [
        'NAME',
        'B01003_001E'  # Population
    ]

    # Retrieve data for all states
    data = census_library.acs5.us(variables)

    # Convert to dataframe
    df = pd.DataFrame(data)
    df['Year'] = year

    # Return the dataframe
    return df

In [3]:
year_2021 = get_census_data(2017)
year_2021.head()

            NAME  B01003_001E us  Year
0  United States  321004407.0  1  2017