In [1]:
# Dependencies
import requests
import pandas as pd
from census import Census

from config import api_key

In [2]:
# Define function to retrieve US census data for a specific year and return a dataframe
def get_census_data(year):
    census_library = Census(api_key, year=year)
    # state_code = states.CA.fips
    variables = [
        'NAME',
        'B01003_001E',   # Population
        'B02001_001E',   # Population total for race
        'B02001_002E',   # White
        'B02001_003E',   # Black or African American
        'B02001_004E',   # American Indian and Alaska Native
        'B02001_005E',   # Asian
        'B02001_006E',   # Native Hawaiian and Other Pacific Islander
        'B02001_007E',   # Some other race
        'B02001_008E'    # Two or more races
    ]

    # Retrieve data for all states
    data = census_library.acs5.state(variables, Census.ALL)

    # Convert to dataframe
    df = pd.DataFrame(data)
    df['Year'] = year

    # Return the dataframe
    return df

In [3]:
# Retrieve census data for multiple years and merge into one dataframe
#first_year = [2009, 2010, 2011, 2012, 2013, 2014, 2015
first_year = 2009
last_year = 2021
# num_years = 12

# Code reference: https://blog.finxter.com/how-to-create-a-python-list-of-size-n/
year_df = [None] * (last_year - first_year + 1)
for year in range(first_year, last_year + 1):
    print(f'Getting data for {year}')
    year_df[year - first_year] = get_census_data(year)

# Code reference: https://www.geeksforgeeks.org/merge-two-dataframes-with-same-column-names/
census_df = pd.concat(year_df, axis=0)

Getting data for 2009
Getting data for 2010
Getting data for 2011
Getting data for 2012
Getting data for 2013
Getting data for 2014
Getting data for 2015
Getting data for 2016
Getting data for 2017
Getting data for 2018
Getting data for 2019
Getting data for 2020
Getting data for 2021

In [4]:
# Display data
census_df

,NAME,B01003_001E,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,state,Year
0,Alaska,683142.0,683142.0,467650.0,25161.0,91939.0,31878.0,4269.0,11613.0,50632.0,02,2009
1,Alabama,4633360.0,4633360.0,3256941.0,1209938.0,22969.0,46655.0,2025.0,38342.0,56490.0,01,2009
2,Arkansas,2838143.0,2838143.0,2228798.0,439355.0,19233.0,31120.0,2505.0,67135.0,49997.0,05,2009
3,Arizona,6324865.0,6324865.0,4906936.0,227282.0,284265.0,153301.0,11045.0,577781.0,164255.0,04,2009
4,California,36308527.0,36308527.0,22258042.0,2249404.0,283031.0,4473292.0,132535.0,5639234.0,1272989.0,06,2009
...,...,...,...,...,...,...,...,...,...,...,...,...
47,Washington,7617364.0,7617364.0,5465011.0,293401.0,90789.0,682711.0,50902.0,378956.0,655594.0,53,2021
48,West Virginia,1801049.0,1801049.0,1658405.0,61143.0,1911.0,13882.0,683.0,9562.0,55463.0,54,2021
49,Wisconsin,5871661.0,5871661.0,4894019.0,372439.0,45831.0,166670.0,2862.0,130363.0,259477.0,55,2021
50,Wyoming,576641.0,576641.0,511179.0,5242.0,12987.0,5046.0,433.0,13317.0,28437.0,56,2021
51,Puerto Rico,3311274.0,3311274.0,1693651.0,329651.0,5407.0,6263.0,245.0,714904.0,561153.0,72,2021